# LLM API configuration (supports any LLM API in OpenAI SDK format)
# Recommended: Alibaba Bailian qwen-plus model：https://bailian.console.aliyun.com/
# This may consume many tokens; start with fewer than 40 rounds
LLM_API_KEY=your_api_key_here
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_MODEL_NAME=qwen-plus

# ===== ZEP memory graph configuration =====
# The free monthly quota is enough for basic use：https://app.getzep.com/
ZEP_API_KEY=your_zep_api_key_here

# ===== Accelerated LLM configuration (optional)=====
# If acceleration is not used, do not include the following items in the env file
LLM_BOOST_API_KEY=your_api_key_here
LLM_BOOST_BASE_URL=your_base_url_here
LLM_BOOST_MODEL_NAME=your_model_name_here